.menu {
  display: none;
  &__active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    overflow-y: scroll;
    transition: all 0.3s ease 0s;
    background-color: #fafafa;
  }
  &__button {
    top: 16px;
    left: 32px;
    z-index: 3;
    padding: 8px 16px 8px 16px;
    display: flex;
    cursor: pointer;
    position: fixed;
    align-items: center;
    border-radius: 12px;
    background-color: #EAEAEA;
  }
  &__contacts {
    &-header {
      font-size: 18px;
    }
    &-description {
      margin-top: 8px;
      color: #606060;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__content {
    width: 95%;
    display: flex;
    padding: 24px;
    border-radius: 16px;
    align-items: flex-start;
    background-color: #EAEAEA;
    justify-content: space-between;
    &-header {
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__help {
    width: 266px;
    &-checkbox {
      display: flex;
      margin-top: 16px;
      align-items: center;
    }
    &-form {
      margin-top: 24px;
    }
    &-subhead {
      margin-top: 8px;
      color: #606060;
      line-height: 22px;
    }
    &-label {
      font-size: 18px;
    }
    &-input {
      width: 100%;
      margin-top: 12px;
      padding: 14px 12px;
      font-size: 16px;
      border-radius: 8px;
    }
    &-item {
      margin-top: 24px;
    }
    &-modal-start {
      display: none;
    }
  }
  &__list {
    &-contacts {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }
    &-links {
      margin-top: 12px;
      margin-left: -10px;
    }
    &-socials {
      display: flex;
      margin-top: 16px;
    }
  }
  &__link {
    &-header {
      font-size: 20px;
    }
    &-description {
      margin-top: 8px;
      font-size: 16px;
      color: #606060;
    }
    &-item {
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 12px;
      &:last-child {
        display: none;
        margin-bottom: 0;
      }
      &:hover {
        outline: #252525;
        outline-width: 2px;
        outline-style: solid;
      }
    }
  }
  &__lines,
  &__lines::before,
  &__lines::after {
    width: 24px;
    height: 3px;
    position: absolute;
    border-radius: 10px;
    background-color: #252525;
  }
  &__lines {
    top: 46%;
    left: 24px;
    width: 24px;
    display: block;
    transform: translate(-46%);
    &::before {
      top: -7px;
      content: '';
    }
    &::after {
      top: 7px;
      content: '';
    }
    &-active {
      transition: all 0.3s ease 0s;
      background-color: transparent;
      &::before {
        top: 0;
        width: 24px;
        transition: all 0.3s ease 0s;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        width: 24px;
        transition: all 0.3s ease 0s;
        transform: rotate(-45deg);
      }
    }
  }
  &__name {
    line-height: 24px;
    margin-left: 32px;
  }
  &__map {
    &-frame {
      margin-top: 28px;
      border-radius: 16px;
      border: 1px solid #B1B1B1;
    }
  }
  &__socials {
    margin-top: 42px;
    &-item {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-icon {
      width: 28px;
      height: 28px;
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .menu {
    display: none;
    &__active {
      top: 0;
      left: 0;
      width: 336px;
      position: fixed;
      display: block;
      z-index: 1;
      background-color: #fafafa;
    }
    &__button {
      left: 24px;
    }
    &__contacts {
      display: none;
    }
    &__content {
      width: 100%;
      display: flex;
      margin-top: 70px;
      flex-direction: column;
      align-items: flex-start;
      background-color: #FAFAFA;
      justify-content: space-between;
    }
    &__help {
      width: 266px;
      padding: 12px;
      margin-top: 32px;
      border-radius: 12px;
      background-color: #EAEAEA;
      &-header {
        font-size: 20px;
      }
    }
    &__list {
      &-contacts {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
      }
      &-links {
        margin-top: 32px;
        margin-left: 0;
      }
      &-socials {
        margin-top: 16px;
      }
    }
    &__link {
      &-header {
        font-size: 22px;
      }
      &-item {
        padding: 0;
        margin-bottom: 24px;
        &:last-child {
          display: block;
          margin-bottom: 0;
        }
        &:hover {
          outline: none;
        }
      }
    }
    &__name {
      margin-left: 4vw;
    }
    &__map {
      display: none;
    }
    &__socials {
      margin-top: 32px;
    }
    &__overlay {
      &-active {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .menu {
    &__active {
      width: 298px;
    }
    &__button {
      left: 16px;
    }
    &__content {
      padding: 16px;
      margin-top: 64px;
      &-header {
        font-size: 20px;
      }
    }
    &__help {
      width: 256px;
      padding: 12px;
      margin-top: 32px;
      border-radius: 12px;
      background-color: #EAEAEA;
      &-header {
        font-size: 20px;
      }
      &-subhead {
        font-size: 14px;
        line-height: 18px;
      }
      &-form {
        margin-top: 0;
      }
      &-inputs {
        display: none;
      }
      &-checkbox {
        display: none;
      }
      &-sender {
        display: none;
      }
      &-modal-start {
        display: block;
      }
    }
    &__list {
      &-links {
        margin-top: 24px;
        margin-left: 0;
      }
      &-socials {
        margin-top: 12px;
      }
    }
    &__link {
      &-header {
        font-size: 22px;
      }
      &-item {
        padding: 0;
        margin-bottom: 24px;
      }
    }
    &__name {
      margin-left: 32px;
    }
    &__socials {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 375px) {
  .menu {
    &__active {
      width: 270px;
    }
    &__help {
      width: 100%;
      margin-top: 24px;
      &-header {
        font-size: 18px;
      }
      &-form {
        margin-top: 0;
      }
      &-inputs {
        display: none;
      }
      &-checkbox {
        display: none;
      }
      &-sender {
        display: none;
      }
      &-modal-start {
        display: block;
      }
    }
    &__link {
      &-header {
        font-size: 18px;
      }
      &-description {
        font-size: 14px;
      }
      &-item {
        margin-bottom: 16px;
      }
    }
    &__name {
      margin-left: 32px;
    }
    &__socials {
      margin-top: 24px;
    }
  }
}

.gallery-slider .slick-list {
  width: 100%;
  height: 660px;
  overflow: hidden;
  border-radius: 24px;
  z-index: 1;
}

.gallery-slider .slick-track {
  height: 660px;
  display: flex;
  justify-content: center;
}

.gallery-slider .slick-slide {
  width: 90%;
  height: 660px;
  margin: 0 auto;
}

.gallery-slider {
  width: 90%;
  height: 660px;
  position: relative;
  height: 520px;
}

.gallery-slider .slick-arrow.slick-prev {
  top: 50%;
  left: -6%;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/img/landing/icons/slider-prev.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
  }
}
.gallery-slider .slick-arrow.slick-next {
  top: 50%;
  right: -6%;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/img/landing/icons/slider-next.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
  }
}

.feedbacks-slider .slick-list {
  width: 618px;
  overflow: hidden;
  border-radius: 28px;
}

.feedbacks-slider .slick-track {
  display: flex;
}

.feedbacks-slider .slick-slide {
  width: 618px;
  margin: 0 auto;
}

.feedbacks-slider {
  width: 618px;
  position: relative;
  border-radius: 28px;
}

.feedbacks-slider .slick-arrow.slick-prev {
  top: 43%;
  left: -82px;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/img/landing/icons/slider-prev.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
  }
}
.feedbacks-slider .slick-arrow.slick-next {
  top: 43%;
  right: -82px;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/img/landing/icons/slider-next.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
  }
}

@media screen and (min-width: 680px) and (max-width:1024px) {
  .gallery-slider {
    width: 80%;
    height: 520px;
  }
  .gallery-slider .slick-list {
    width: 100%;
    height: 520px;
    border-radius: 24px;
  }

  .gallery-slider .slick-slide {
    height: 520px;
  }


  .gallery-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 36px 36px;
  }

  .gallery-slider .slick-arrow.slick-next {
    padding: 28px;
    background-size: 36px 36px;
  }
}

@media screen and (min-width: 1580px) {
  .gallery-slider .slick-list {
    width: 1351px !important;
    height: 740px !important;
    border-radius: 36px !important;
  }

  .gallery-slider .slick-slide {
    width: 1351px !important;
    height: 740px;
  }

  .gallery-slider {
    width: 1351px !important;
    height: 730px;
  }

  .gallery-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    padding: 28px;
    background-size: 56px 56px;
  }
}

@media screen and (min-width: 1890px) {
  .gallery-slider .slick-list {
    width: 1599px !important;
    height: 890px !important;
    border-radius: 48px !important;
  }

  .gallery-slider .slick-slide {
    width: 1599px !important;
    height: 890px;
  }

  .gallery-slider {
    width: 1599px !important;
    height: 890px;
  }

  .gallery-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    padding: 28px;
    background-size: 56px 56px;
  }
}


@media screen and (min-width: 1580px) {
  .feedbacks-slider .slick-list {
    width: 712px !important;
    border-radius: 32px;
  }
  .feedbacks-slider .slick-slide {
    width: 712px !important;
  }
  .feedbacks-slider {
    width: 712px !important;
    border-radius: 32px;
  }
  .feedbacks-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
    
  }
  .feedbacks-slider .slick-arrow.slick-next {
    top: 42%;
    padding: 28px;
    background-size: 56px 56px;
  }
}

@media screen and (min-width: 1890px) {
  .feedbacks-slider .slick-list {
    width: 840px !important;
    border-radius: 36px;
  }
  .feedbacks-slider .slick-slide {
    width: 840px !important;
  }
  .feedbacks-slider {
    width: 840px !important;
    border-radius: 36px;
  }
  .feedbacks-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }
  .feedbacks-slider .slick-arrow.slick-next {
    top: 41%;
    padding: 28px;
    background-size: 56px 56px;
  }
}