.gallery-slider .slick-list {
  width: 100%;
  height: 660px !important;
  overflow: hidden;
  border-radius: 24px !important;
}

.gallery-slider .slick-track {
  height: 660px !important;
  display: flex;
  justify-content: center;
}

.gallery-slider .slick-slide {
  width: 90%;
  height: 660px !important;
  margin: 0 auto;
}

.gallery-slider {
  width: 90%;
  height: 660px !important;
  position: relative;
  border-radius: 24px !important;
}

.gallery-slider .slick-arrow.slick-prev {
  top: 50%;
  left: -6%;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/img/landing/icons/slider-prev.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
  }
}
.gallery-slider .slick-arrow.slick-next {
  top: 50%;
  right: -6%;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/img/landing/icons/slider-next.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .gallery-slider {
    width: 95%;
    height: 480px !important;
    border-radius: 16px !important;
  }
  .gallery-slider .slick-list {
    width: 100%;
    height: 480px !important;
    border-radius: 16px !important;
    padding: 0 !important;
  }

  .gallery-slider .slick-slide {
    height: 480px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    top: 105%;
    left: 35%;
    padding: 20px;
  }

  .gallery-slider .slick-arrow.slick-next {
    top: 105%;
    right: 35%;
    padding: 20px;
  }
}

@media screen and (min-width: 680px) and (max-width:1024px) {
  .gallery-slider {
    width: 80%;
    height: 520px !important;
    border-radius: 24px !important;
  }
  
  .gallery-slider .slick-list {
    width: 100%;
    height: 520px !important;
    padding: 0 !important;
    border-radius: 24px !important;
  }

  .gallery-slider .slick-slide {
    height: 520px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    left: -12%;
    top: 45%;
    padding: 24px;
  }

  .gallery-slider .slick-arrow.slick-next {
    right: -12%;
    top: 45%;
    padding: 24px;
  }
}

@media screen and (min-width: 1460px) {
  .gallery-slider .slick-list {
    width: 100%;
    height: 740px !important;
    border-radius: 32px !important;
  }

  .gallery-slider .slick-slide {
    width: 85%;
    height: 740px !important;
  }

  .gallery-slider {
    width: 85%;
    height: 740px !important;
    border-radius: 32px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    left: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    right: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }
}

@media screen and (min-width: 1790px) {
  .gallery-slider .slick-list {
    width: 100%;
    height: 890px !important;
    border-radius: 36px !important;
  }

  .gallery-slider .slick-slide {
    width: 85%;
    height: 890px !important;
  }

  .gallery-slider {
    width: 85%;
    height: 890px !important;
    border-radius: 36px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    left: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    right: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }
}