@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geometria";
    font-weight: 500;
    src: url("../font/Geometria-Medium.woff2") format("woff2"), url("../font/Geometria-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Geometria";
    font-weight: bold;
    src: url("../font/Geometria-Bold.woff2") format("woff2"), url("../font/Geometria-Bold.woff") format("woff");
  }
}

@layer utilities {
  .no-scrollbar {
    &::-webkit-scrollbar {
      @apply w-0 h-0;
    }
    &::-webkit-scrollbar-track {
      @apply appearance-none;
    }
    &::-webkit-scrollbar-thumb {
      @apply appearance-none;
    }
  }
}

@layer components {
  .selector {
    &__active {
      @apply z-10;
    }
    &__select {
      @apply flex items-center justify-between py-16 xl:py-[18px] lg:px-12 md:px-16 mt-12 md:mt-16 bg-light-600 border border-light-800 box-border rounded-12 xl:rounded-16 dark:bg-dark-700 dark:border-0;
    }
    &__item {
      &-active {
        @apply z-10;
      }
    }
    &__options {
      @apply w-full lg:top-64 md:top-[82px] mt-8 mx-auto mb-0 p-12 text-14 md:text-18 xl:text-20 absolute right-0 bg-light-400 box-border shadow-selector rounded-12 xl:rounded-16 opacity-0 hidden animate-fadeInDown overflow-auto dark:bg-dark-700;
      &-active {
        @apply block opacity-100;
      }
      &_item {
        @apply flex items-center justify-start w-full cursor-pointer rounded-8 xl:rounded-12 mb-4 xl:mb-8;
        &:hover {
          @apply bg-light-700 dark:bg-black-800;
        }
      }
      &_value {
        @apply p-12 xl:p-16 text-14 xl:text-16 leading-tight break-words dark:text-light-400;
      }
      &::-webkit-scrollbar {
        @apply w-8;
      }
      &::-webkit-scrollbar-track {
        @apply bg-light-400 rounded-20;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-brand-800 rounded-20;
      }
    }
  }
}