@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geometria";
    font-weight: 500;
    src: url("../font/Geometria-Medium.woff2") format("woff2"), url("../font/Geometria-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Geometria";
    font-weight: bold;
    src: url("../font/Geometria-Bold.woff2") format("woff2"), url("../font/Geometria-Bold.woff") format("woff");
  }
}

@layer utilities {
  .no-scrollbar {
    &::-webkit-scrollbar {
      @apply w-0 h-0;
    }
    &::-webkit-scrollbar-track {
      @apply appearance-none;
    }
    &::-webkit-scrollbar-thumb {
      @apply appearance-none;
    }
  }
}

@layer components {
  .course {
    &__item {
      @apply lg:mb-8 xl:mb-12 lg:px-16 lg:py-[15px] md:py-16 xl:py-20 lg:text-18 md:text-20 bg-light-500 rounded-12 md:rounded-16 border border-light-900 dark:border-0 dark:bg-dark-700 dark:text-light-600 cursor-pointer;
      &-active {
        @apply bg-light-700 border-2 border-brand-900 text-brand-900 dark:bg-dark-800 dark:text-brand-900 dark:border-brand-900 dark:border-2;
      }
      &:hover {
        @apply border-brand-900;
      }
    }
  }
}