.menu {
  display: none;
}
.menu__active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow-y: scroll;
  transition: all 0.3s ease 0s;
  background-color: #fafafa;
}
.menu__button {
  top: 16px;
  left: 32px;
  z-index: 3;
  padding: 8px 16px 8px 16px;
  display: flex;
  cursor: pointer;
  position: fixed;
  align-items: center;
  border-radius: 12px;
  background-color: #EAEAEA;
}
.menu__contacts-header {
  font-size: 18px;
}
.menu__contacts-description {
  margin-top: 8px;
  color: #606060;
  font-size: 14px;
  line-height: 18px;
}
.menu__content {
  width: 95%;
  display: flex;
  padding: 24px;
  border-radius: 16px;
  align-items: flex-start;
  background-color: #EAEAEA;
  justify-content: space-between;
}
.menu__content-header {
  font-size: 24px;
  font-weight: bold;
}
.menu__help {
  width: 266px;
}
.menu__help-checkbox {
  display: flex;
  margin-top: 16px;
  align-items: center;
}
.menu__help-form {
  margin-top: 24px;
}
.menu__help-subhead {
  margin-top: 8px;
  color: #606060;
  line-height: 22px;
}
.menu__help-label {
  font-size: 18px;
}
.menu__help-input {
  width: 100%;
  margin-top: 12px;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 8px;
}
.menu__help-item {
  margin-top: 24px;
}
.menu__help-modal-start {
  display: none;
}
.menu__list-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.menu__list-links {
  margin-top: 12px;
  margin-left: -10px;
}
.menu__list-socials {
  display: flex;
  margin-top: 16px;
}
.menu__link-header {
  font-size: 20px;
}
.menu__link-description {
  margin-top: 8px;
  font-size: 16px;
  color: #606060;
}
.menu__link-item {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.menu__link-item:last-child {
  display: none;
  margin-bottom: 0;
}
.menu__link-item:hover {
  outline: #252525;
  outline-width: 2px;
  outline-style: solid;
}
.menu__lines, .menu__lines::before, .menu__lines::after {
  width: 24px;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  background-color: #252525;
}
.menu__lines {
  top: 46%;
  left: 24px;
  width: 24px;
  display: block;
  transform: translate(-46%);
}
.menu__lines::before {
  top: -7px;
  content: "";
}
.menu__lines::after {
  top: 7px;
  content: "";
}
.menu__lines-active {
  transition: all 0.3s ease 0s;
  background-color: transparent;
}
.menu__lines-active::before {
  top: 0;
  width: 24px;
  transition: all 0.3s ease 0s;
  transform: rotate(45deg);
}
.menu__lines-active::after {
  top: 0;
  width: 24px;
  transition: all 0.3s ease 0s;
  transform: rotate(-45deg);
}
.menu__name {
  line-height: 24px;
  margin-left: 32px;
}
.menu__map-frame {
  margin-top: 28px;
  border-radius: 16px;
  border: 1px solid #B1B1B1;
}
.menu__socials {
  margin-top: 42px;
}
.menu__socials-item {
  margin-right: 16px;
}
.menu__socials-item:last-child {
  margin-right: 0;
}
.menu__socials-icon {
  width: 28px;
  height: 28px;
  border-radius: 8px;
}

@media screen and (max-width: 1220px) {
  .menu {
    display: none;
  }
  .menu__active {
    top: 0;
    left: 0;
    width: 336px;
    position: fixed;
    display: block;
    z-index: 1;
    background-color: #fafafa;
  }
  .menu__button {
    left: 24px;
  }
  .menu__contacts {
    display: none;
  }
  .menu__content {
    width: 100%;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FAFAFA;
    justify-content: space-between;
  }
  .menu__help {
    width: 266px;
    padding: 12px;
    margin-top: 32px;
    border-radius: 12px;
    background-color: #EAEAEA;
  }
  .menu__help-header {
    font-size: 20px;
  }
  .menu__list-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .menu__list-links {
    margin-top: 32px;
    margin-left: 0;
  }
  .menu__list-socials {
    margin-top: 16px;
  }
  .menu__link-header {
    font-size: 22px;
  }
  .menu__link-item {
    padding: 0;
    margin-bottom: 24px;
  }
  .menu__link-item:last-child {
    display: block;
    margin-bottom: 0;
  }
  .menu__link-item:hover {
    outline: none;
  }
  .menu__name {
    margin-left: 4vw;
  }
  .menu__map {
    display: none;
  }
  .menu__socials {
    margin-top: 32px;
  }
  .menu__overlay-active {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 620px) {
  .menu__active {
    width: 298px;
  }
  .menu__button {
    left: 16px;
  }
  .menu__content {
    padding: 16px;
    margin-top: 64px;
  }
  .menu__content-header {
    font-size: 20px;
  }
  .menu__help {
    width: 256px;
    padding: 12px;
    margin-top: 32px;
    border-radius: 12px;
    background-color: #EAEAEA;
  }
  .menu__help-header {
    font-size: 20px;
  }
  .menu__help-subhead {
    font-size: 14px;
    line-height: 18px;
  }
  .menu__help-form {
    margin-top: 0;
  }
  .menu__help-inputs {
    display: none;
  }
  .menu__help-checkbox {
    display: none;
  }
  .menu__help-sender {
    display: none;
  }
  .menu__help-modal-start {
    display: block;
  }
  .menu__list-links {
    margin-top: 24px;
    margin-left: 0;
  }
  .menu__list-socials {
    margin-top: 12px;
  }
  .menu__link-header {
    font-size: 22px;
  }
  .menu__link-item {
    padding: 0;
    margin-bottom: 24px;
  }
  .menu__name {
    margin-left: 32px;
  }
  .menu__socials {
    margin-top: 24px;
  }
}
@media screen and (max-width: 375px) {
  .menu__active {
    width: 270px;
  }
  .menu__help {
    width: 100%;
    margin-top: 24px;
  }
  .menu__help-header {
    font-size: 18px;
  }
  .menu__help-form {
    margin-top: 0;
  }
  .menu__help-inputs {
    display: none;
  }
  .menu__help-checkbox {
    display: none;
  }
  .menu__help-sender {
    display: none;
  }
  .menu__help-modal-start {
    display: block;
  }
  .menu__link-header {
    font-size: 18px;
  }
  .menu__link-description {
    font-size: 14px;
  }
  .menu__link-item {
    margin-bottom: 16px;
  }
  .menu__name {
    margin-left: 32px;
  }
  .menu__socials {
    margin-top: 24px;
  }
}
.gallery-slider .slick-list {
  width: 100%;
  height: 660px;
  overflow: hidden;
  border-radius: 24px;
  z-index: 1;
}

.gallery-slider .slick-track {
  height: 660px;
  display: flex;
  justify-content: center;
}

.gallery-slider .slick-slide {
  width: 90%;
  height: 660px;
  margin: 0 auto;
}

.gallery-slider {
  width: 90%;
  height: 660px;
  position: relative;
  height: 520px;
}

.gallery-slider .slick-arrow.slick-prev {
  top: 50%;
  left: -6%;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url("/img/landing/icons/slider-prev.svg") 0 0/100% no-repeat;
}
.gallery-slider .slick-arrow.slick-prev:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

.gallery-slider .slick-arrow.slick-next {
  top: 50%;
  right: -6%;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url("/img/landing/icons/slider-next.svg") 0 0/100% no-repeat;
}
.gallery-slider .slick-arrow.slick-next:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

.feedbacks-slider .slick-list {
  width: 618px;
  overflow: hidden;
  border-radius: 28px;
}

.feedbacks-slider .slick-track {
  display: flex;
}

.feedbacks-slider .slick-slide {
  width: 618px;
  margin: 0 auto;
}

.feedbacks-slider {
  width: 618px;
  position: relative;
  border-radius: 28px;
}

.feedbacks-slider .slick-arrow.slick-prev {
  top: 43%;
  left: -82px;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url("/img/landing/icons/slider-prev.svg") 0 0/100% no-repeat;
}
.feedbacks-slider .slick-arrow.slick-prev:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

.feedbacks-slider .slick-arrow.slick-next {
  top: 43%;
  right: -82px;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url("/img/landing/icons/slider-next.svg") 0 0/100% no-repeat;
}
.feedbacks-slider .slick-arrow.slick-next:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

@media screen and (min-width: 680px) and (max-width: 1024px) {
  .gallery-slider {
    width: 80%;
    height: 520px;
  }

  .gallery-slider .slick-list {
    width: 100%;
    height: 520px;
    border-radius: 24px;
  }

  .gallery-slider .slick-slide {
    height: 520px;
  }

  .gallery-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 36px 36px;
  }

  .gallery-slider .slick-arrow.slick-next {
    padding: 28px;
    background-size: 36px 36px;
  }
}
@media screen and (min-width: 1580px) {
  .gallery-slider .slick-list {
    width: 1351px !important;
    height: 740px !important;
    border-radius: 36px !important;
  }

  .gallery-slider .slick-slide {
    width: 1351px !important;
    height: 740px;
  }

  .gallery-slider {
    width: 1351px !important;
    height: 730px;
  }

  .gallery-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    padding: 28px;
    background-size: 56px 56px;
  }
}
@media screen and (min-width: 1890px) {
  .gallery-slider .slick-list {
    width: 1599px !important;
    height: 890px !important;
    border-radius: 48px !important;
  }

  .gallery-slider .slick-slide {
    width: 1599px !important;
    height: 890px;
  }

  .gallery-slider {
    width: 1599px !important;
    height: 890px;
  }

  .gallery-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    padding: 28px;
    background-size: 56px 56px;
  }
}
@media screen and (min-width: 1580px) {
  .feedbacks-slider .slick-list {
    width: 712px !important;
    border-radius: 32px;
  }

  .feedbacks-slider .slick-slide {
    width: 712px !important;
  }

  .feedbacks-slider {
    width: 712px !important;
    border-radius: 32px;
  }

  .feedbacks-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }

  .feedbacks-slider .slick-arrow.slick-next {
    top: 42%;
    padding: 28px;
    background-size: 56px 56px;
  }
}
@media screen and (min-width: 1890px) {
  .feedbacks-slider .slick-list {
    width: 840px !important;
    border-radius: 36px;
  }

  .feedbacks-slider .slick-slide {
    width: 840px !important;
  }

  .feedbacks-slider {
    width: 840px !important;
    border-radius: 36px;
  }

  .feedbacks-slider .slick-arrow.slick-prev {
    padding: 28px;
    background-size: 56px 56px;
  }

  .feedbacks-slider .slick-arrow.slick-next {
    top: 41%;
    padding: 28px;
    background-size: 56px 56px;
  }
}
/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Geometria, sans-serif; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}
  @font-face {
    font-family: "Geometria";
    font-weight: 500;
    src: url(/fonts/Geometria-Medium.woff2?8d57bf2f0682db5d7cb8f32c53617622) format("woff2"), url(/fonts/Geometria-Medium.woff?ce81051a1ed94e89b4e161458d2ac4b4) format("woff");
  }
  @font-face {
    font-family: "Geometria";
    font-weight: bold;
    src: url(/fonts/Geometria-Bold.woff2?a1c6754de91a8a30c477cfa51e26b7c3) format("woff2"), url(/fonts/Geometria-Bold.woff?3a9ed34be5c5b3d8fc3c26157b2574b2) format("woff");
  }

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-4 {
  margin-top: 4px;
}
.ml-4 {
  margin-left: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.ml-12 {
  margin-left: 12px;
}
.-mt-px {
  margin-top: -1px;
}
.ml-8 {
  margin-left: 8px;
}
.mt-32 {
  margin-top: 32px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-5 {
  height: 1.25rem;
}
.h-8 {
  height: 8px;
}
.h-16 {
  height: 16px;
}
.h-\[18px\] {
  height: 18px;
}
.min-h-screen {
  min-height: 100vh;
}
.w-5 {
  width: 1.25rem;
}
.w-8 {
  width: 8px;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-\[18px\] {
  width: 18px;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-6xl {
  max-width: 72rem;
}
.shrink-0 {
  flex-shrink: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-16 {
  border-radius: 16px;
}
.rounded-8 {
  border-radius: 8px;
}
.border {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-light-900 {
  --tw-border-opacity: 1;
  border-color: rgb(205 205 205 / var(--tw-border-opacity));
}
.border-black-900 {
  --tw-border-opacity: 1;
  border-color: rgb(37 37 37 / var(--tw-border-opacity));
}
.bg-light-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.bg-brand-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 82 255 / var(--tw-bg-opacity));
}
.p-6 {
  padding: 1.5rem;
}
.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-\[17px\] {
  padding-top: 17px;
  padding-bottom: 17px;
}
.pt-8 {
  padding-top: 8px;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-18 {
  font-size: 18px;
}
.text-14 {
  font-size: 14px;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.-tracking-wide {
  letter-spacing: -0.025em;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.text-black-900 {
  --tw-text-opacity: 1;
  color: rgb(37 37 37 / var(--tw-text-opacity));
}
.text-black-800 {
  --tw-text-opacity: 1;
  color: rgb(96 96 96 / var(--tw-text-opacity));
}
.text-light-400 {
  --tw-text-opacity: 1;
  color: rgb(254 254 254 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-slider {
  --tw-shadow: 0px 16px 64px rgba(22, 20, 20, 0.12);
  --tw-shadow-colored: 0px 16px 64px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-btn:hover {
  --tw-shadow:  0px 4px 16px rgba(51, 112, 202, 0.48);
  --tw-shadow-colored: 0px 4px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-2:focus {
  outline-width: 2px;
}

.focus\:outline-brand-900:focus {
  outline-color: #4F52FF;
}

.dark .dark\:bg-dark-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 15 15 / var(--tw-bg-opacity));
}

.dark .dark\:text-light-900 {
  --tw-text-opacity: 1;
  color: rgb(205 205 205 / var(--tw-text-opacity));
}

.dark .dark\:text-light-400 {
  --tw-text-opacity: 1;
  color: rgb(254 254 254 / var(--tw-text-opacity));
}

.dark .dark\:text-light-800 {
  --tw-text-opacity: 1;
  color: rgb(208 208 208 / var(--tw-text-opacity));
}

.dark .dark\:brightness-90 {
  --tw-brightness: brightness(.9);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 340px) {

  .ad\:order-2 {
    order: 2;
  }

  .ad\:order-1 {
    order: 1;
  }

  .ad\:mt-\[80px\] {
    margin-top: 80px;
  }

  .ad\:mt-12 {
    margin-top: 12px;
  }

  .ad\:mt-16 {
    margin-top: 16px;
  }

  .ad\:mt-24 {
    margin-top: 24px;
  }

  .ad\:flex {
    display: flex;
  }

  .ad\:h-\[280px\] {
    height: 280px;
  }

  .ad\:w-\[290px\] {
    width: 290px;
  }

  .ad\:w-full {
    width: 100%;
  }

  .ad\:flex-col {
    flex-direction: column;
  }

  .ad\:px-16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .ad\:pl-12 {
    padding-left: 12px;
  }

  .ad\:text-32 {
    font-size: 32px;
  }

  .ad\:text-16 {
    font-size: 16px;
  }
}

@media (min-width: 410px) {

  .ph\:mt-36 {
    margin-top: 36px;
  }

  .ph\:h-\[310px\] {
    height: 310px;
  }

  .ph\:w-\[390px\] {
    width: 390px;
  }

  .ph\:w-\[380px\] {
    width: 380px;
  }

  .ph\:text-36 {
    font-size: 36px;
  }

  .ph\:text-18 {
    font-size: 18px;
  }
}

@media (min-width: 620px) {

  .tb\:mt-24 {
    margin-top: 24px;
  }

  .tb\:mt-\[60px\] {
    margin-top: 60px;
  }

  .tb\:mt-48 {
    margin-top: 48px;
  }

  .tb\:h-\[500px\] {
    height: 500px;
  }

  .tb\:w-\[470px\] {
    width: 470px;
  }

  .tb\:w-\[320px\] {
    width: 320px;
  }

  .tb\:w-\[700px\] {
    width: 700px;
  }

  .tb\:w-\[625px\] {
    width: 625px;
  }

  .tb\:items-center {
    align-items: center;
  }

  .tb\:pl-0 {
    padding-left: 0px;
  }

  .tb\:text-center {
    text-align: center;
  }

  .tb\:text-52 {
    font-size: 52px;
  }

  .tb\:text-18 {
    font-size: 18px;
  }

  .tb\:text-36 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:mt-48 {
    margin-top: 48px;
  }

  .lg\:mb-48 {
    margin-bottom: 48px;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[520px\] {
    height: 520px;
  }

  .lg\:w-\[498px\] {
    width: 498px;
  }

  .lg\:w-\[760px\] {
    width: 760px;
  }

  .lg\:w-\[730px\] {
    width: 730px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:rounded-32 {
    border-radius: 32px;
  }

  .lg\:px-8 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .lg\:px-32 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .lg\:pl-32 {
    padding-left: 32px;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-16 {
    font-size: 16px;
  }
}

@media (min-width: 1580px) {

  .md\:mt-\[100px\] {
    margin-top: 100px;
  }

  .md\:mt-32 {
    margin-top: 32px;
  }

  .md\:mt-48 {
    margin-top: 48px;
  }

  .md\:mt-56 {
    margin-top: 56px;
  }

  .md\:mb-56 {
    margin-bottom: 56px;
  }

  .md\:mt-16 {
    margin-top: 16px;
  }

  .md\:h-\[600px\] {
    height: 600px;
  }

  .md\:w-\[592px\] {
    width: 592px;
  }

  .md\:w-\[890px\] {
    width: 890px;
  }

  .md\:w-\[812px\] {
    width: 812px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:rounded-16 {
    border-radius: 16px;
  }

  .md\:border-t-0 {
    border-top-width: 0px;
  }

  .md\:border-l {
    border-left-width: 1px;
  }

  .md\:text-64 {
    font-size: 64px;
  }

  .md\:text-20 {
    font-size: 20px;
  }

  .md\:text-48 {
    font-size: 48px;
  }
}

@media (min-width: 1900px) {

  .xl\:mt-\[128px\] {
    margin-top: 128px;
  }

  .xl\:mb-\[80px\] {
    margin-bottom: 80px;
  }

  .xl\:mt-64 {
    margin-top: 64px;
  }

  .xl\:h-\[710px\] {
    height: 710px;
  }

  .xl\:w-\[750px\] {
    width: 750px;
  }

  .xl\:w-\[573px\] {
    width: 573px;
  }

  .xl\:w-\[1040px\] {
    width: 1040px;
  }

  .xl\:w-\[900px\] {
    width: 900px;
  }

  .xl\:pl-48 {
    padding-left: 48px;
  }

  .xl\:text-82 {
    font-size: 82px;
  }

  .xl\:text-22 {
    font-size: 22px;
  }

  .xl\:text-52 {
    font-size: 52px;
  }
}
