.menu {
  display: none;
}
.menu__active {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow-y: scroll;
  transition: all 0.3s ease 0s;
  background-color: #fafafa;
}
.menu__button {
  top: 16px;
  left: 32px;
  z-index: 3;
  padding: 8px 16px 8px 16px;
  display: flex;
  cursor: pointer;
  position: fixed;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #D0D0D0;
  background-color: #EAEAEA;
  box-shadow: 0px 8px 24px rgba(39, 40, 45, 0.12);
}
.menu__contacts-header {
  font-size: 18px;
}
.menu__contacts-description {
  margin-top: 8px;
  color: #606060;
  font-size: 14px;
  line-height: 18px;
}
.menu__content {
  width: 95%;
  display: flex;
  padding: 24px;
  border-radius: 16px;
  align-items: flex-start;
  background-color: #EAEAEA;
  justify-content: space-between;
}
.menu__content-header {
  font-size: 24px;
  font-weight: bold;
}
.menu__help {
  width: 266px;
}
.menu__help-checkbox {
  display: flex;
  margin-top: 16px;
  align-items: center;
}
.menu__help-form {
  margin-top: 24px;
}
.menu__help-subhead {
  margin-top: 8px;
  color: #606060;
  line-height: 22px;
}
.menu__help-label {
  font-size: 18px;
}
.menu__help-input {
  width: 100%;
  margin-top: 12px;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 8px;
}
.menu__help-item {
  margin-top: 24px;
}
.menu__help-modal-start {
  display: none;
}
.menu__list-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.menu__list-links {
  margin-top: 12px;
  margin-left: -10px;
}
.menu__list-socials {
  display: flex;
  margin-top: 16px;
}
.menu__link-header {
  font-size: 20px;
}
.menu__link-description {
  margin-top: 8px;
  font-size: 16px;
  color: #606060;
}
.menu__link-item {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.menu__link-item:last-child {
  display: none;
  margin-bottom: 0;
}
.menu__link-item:hover {
  outline: #252525;
  outline-width: 2px;
  outline-style: solid;
}
.menu__lines, .menu__lines::before, .menu__lines::after {
  width: 24px;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  background-color: #252525;
}
.menu__lines {
  top: 46%;
  left: 24px;
  width: 24px;
  display: block;
  transform: translate(-46%);
}
.menu__lines::before {
  top: -7px;
  content: "";
}
.menu__lines::after {
  top: 7px;
  content: "";
}
.menu__lines-active {
  transition: all 0.3s ease 0s;
  background-color: transparent;
}
.menu__lines-active::before {
  top: 0;
  width: 24px;
  transition: all 0.3s ease 0s;
  transform: rotate(45deg);
}
.menu__lines-active::after {
  top: 0;
  width: 24px;
  transition: all 0.3s ease 0s;
  transform: rotate(-45deg);
}
.menu__name {
  line-height: 24px;
  margin-left: 32px;
}
.menu__map-frame {
  margin-top: 28px;
  border-radius: 16px;
  border: 1px solid #B1B1B1;
}
.menu__socials {
  margin-top: 42px;
}
.menu__socials-item {
  margin-right: 16px;
}
.menu__socials-item:last-child {
  margin-right: 0;
}
.menu__socials-icon {
  width: 28px;
  height: 28px;
  border-radius: 8px;
}

@media screen and (max-width: 1220px) {
  .menu {
    display: none;
  }
  .menu__active {
    top: 0;
    left: 0;
    width: 336px;
    position: fixed;
    display: block;
    z-index: 1;
    background-color: #fafafa;
  }
  .menu__button {
    left: 24px;
  }
  .menu__contacts {
    display: none;
  }
  .menu__content {
    width: 100%;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FAFAFA;
    justify-content: space-between;
  }
  .menu__help {
    width: 266px;
    padding: 12px;
    margin-top: 32px;
    border-radius: 12px;
    background-color: #EAEAEA;
  }
  .menu__help-header {
    font-size: 20px;
  }
  .menu__list-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .menu__list-links {
    margin-top: 32px;
    margin-left: 0;
  }
  .menu__list-socials {
    margin-top: 16px;
  }
  .menu__link-header {
    font-size: 22px;
  }
  .menu__link-item {
    padding: 0;
    margin-bottom: 24px;
  }
  .menu__link-item:last-child {
    display: block;
    margin-bottom: 0;
  }
  .menu__link-item:hover {
    outline: none;
  }
  .menu__name {
    margin-left: 4vw;
  }
  .menu__map {
    display: none;
  }
  .menu__socials {
    margin-top: 32px;
  }
  .menu__overlay-active {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 620px) {
  .menu__active {
    width: 298px;
  }
  .menu__active .menu__button {
    box-shadow: none;
  }
  .menu__button {
    left: 16px;
    box-shadow: 0px 8px 24px rgba(39, 40, 45, 0.12);
  }
  .menu__content {
    padding: 16px;
    margin-top: 64px;
  }
  .menu__content-header {
    font-size: 20px;
  }
  .menu__help {
    width: 256px;
    padding: 12px;
    margin-top: 32px;
    border-radius: 12px;
    background-color: #EAEAEA;
  }
  .menu__help-header {
    font-size: 20px;
  }
  .menu__help-subhead {
    font-size: 14px;
    line-height: 18px;
  }
  .menu__help-form {
    margin-top: 0;
  }
  .menu__help-inputs {
    display: none;
  }
  .menu__help-checkbox {
    display: none;
  }
  .menu__help-sender {
    display: none;
  }
  .menu__help-modal-start {
    display: block;
  }
  .menu__list-links {
    margin-top: 24px;
    margin-left: 0;
  }
  .menu__list-socials {
    margin-top: 12px;
  }
  .menu__link-header {
    font-size: 22px;
  }
  .menu__link-item {
    padding: 0;
    margin-bottom: 24px;
  }
  .menu__name {
    margin-left: 32px;
  }
  .menu__socials {
    margin-top: 24px;
  }
}
@media screen and (max-width: 375px) {
  .menu__active {
    width: 270px;
  }
  .menu__help {
    width: 100%;
    margin-top: 24px;
  }
  .menu__help-header {
    font-size: 18px;
  }
  .menu__help-form {
    margin-top: 0;
  }
  .menu__help-inputs {
    display: none;
  }
  .menu__help-checkbox {
    display: none;
  }
  .menu__help-sender {
    display: none;
  }
  .menu__help-modal-start {
    display: block;
  }
  .menu__link-header {
    font-size: 18px;
  }
  .menu__link-description {
    font-size: 14px;
  }
  .menu__link-item {
    margin-bottom: 16px;
  }
  .menu__name {
    margin-left: 32px;
  }
  .menu__socials {
    margin-top: 24px;
  }
}
.gallery-slider .slick-list {
  width: 100%;
  height: 660px !important;
  overflow: hidden;
  border-radius: 24px !important;
}

.gallery-slider .slick-track {
  height: 660px !important;
  display: flex;
  justify-content: center;
}

.gallery-slider .slick-slide {
  width: 90%;
  height: 660px !important;
  margin: 0 auto;
}

.gallery-slider {
  width: 90%;
  height: 660px !important;
  position: relative;
  border-radius: 24px !important;
}

.gallery-slider .slick-arrow.slick-prev {
  top: 50%;
  left: -6%;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url("/img/landing/icons/slider-prev.svg") 0 0/100% no-repeat;
}
.gallery-slider .slick-arrow.slick-prev:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

.gallery-slider .slick-arrow.slick-next {
  top: 50%;
  right: -6%;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url("/img/landing/icons/slider-next.svg") 0 0/100% no-repeat;
}
.gallery-slider .slick-arrow.slick-next:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .gallery-slider {
    width: 95%;
    height: 480px !important;
    border-radius: 16px !important;
  }

  .gallery-slider .slick-list {
    width: 100%;
    height: 480px !important;
    border-radius: 16px !important;
    padding: 0 !important;
  }

  .gallery-slider .slick-slide {
    height: 480px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    top: 105%;
    left: 35%;
    padding: 20px;
  }

  .gallery-slider .slick-arrow.slick-next {
    top: 105%;
    right: 35%;
    padding: 20px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1024px) {
  .gallery-slider {
    width: 80%;
    height: 520px !important;
    border-radius: 24px !important;
  }

  .gallery-slider .slick-list {
    width: 100%;
    height: 520px !important;
    padding: 0 !important;
    border-radius: 24px !important;
  }

  .gallery-slider .slick-slide {
    height: 520px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    left: -12%;
    top: 45%;
    padding: 24px;
  }

  .gallery-slider .slick-arrow.slick-next {
    right: -12%;
    top: 45%;
    padding: 24px;
  }
}
@media screen and (min-width: 1460px) {
  .gallery-slider .slick-list {
    width: 100%;
    height: 740px !important;
    border-radius: 32px !important;
  }

  .gallery-slider .slick-slide {
    width: 85%;
    height: 740px !important;
  }

  .gallery-slider {
    width: 85%;
    height: 740px !important;
    border-radius: 32px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    left: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    right: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }
}
@media screen and (min-width: 1790px) {
  .gallery-slider .slick-list {
    width: 100%;
    height: 890px !important;
    border-radius: 36px !important;
  }

  .gallery-slider .slick-slide {
    width: 85%;
    height: 890px !important;
  }

  .gallery-slider {
    width: 85%;
    height: 890px !important;
    border-radius: 36px !important;
  }

  .gallery-slider .slick-arrow.slick-prev {
    left: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }

  .gallery-slider .slick-arrow.slick-next {
    right: -8%;
    padding: 28px;
    background-size: 56px 56px;
  }
}
.feedbacks-slider .slick-list {
  width: 618px;
  overflow: hidden;
  border-radius: 28px;
}

.feedbacks-slider .slick-track {
  display: flex;
}

.feedbacks-slider .slick-slide {
  width: 618px;
  margin: 0 auto;
}

.feedbacks-slider {
  width: 618px;
  position: relative;
  border-radius: 28px;
}

.feedbacks-slider .slick-arrow.slick-prev {
  top: 43%;
  left: -82px;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url(/src/img/landing/icons/slider-prev.svg) 0 0/100% no-repeat;
}
.feedbacks-slider .slick-arrow.slick-prev:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

.feedbacks-slider .slick-arrow.slick-next {
  top: 43%;
  right: -82px;
  z-index: 1;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url(/src/img/landing/icons/slider-next.svg) 0 0/100% no-repeat;
}
.feedbacks-slider .slick-arrow.slick-next:hover {
  box-shadow: 0px 4px 16px rgba(51, 112, 202, 0.48);
}

.dropdown {
  width: 100%;
  position: relative;
}
.dropdown__active .dropdown__options {
  display: block;
}
.dropdown__active .dropdown__btn {
  border: 1px solid #4F52FF !important;
  background-color: #4F52FF !important;
}
.dropdown__active .dropdown__btn-text {
  color: #FEFEFE;
}
.dropdown__active .dropdown__btn-icon path {
  fill: #FEFEFE;
}
.dropdown__btn {
  display: flex;
  align-items: center;
  padding: 16px 12px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: space-between;
}
.dropdown__btn-text {
  font-size: 14px;
  line-height: 14px;
}
.dropdown__btn-icon {
  width: 10px;
  height: 10px;
}
.dropdown__options {
  display: none;
  width: 100%;
  padding: 8px;
  position: absolute;
  top: 60px;
  overflow-y: scroll;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(39, 40, 45, 0.12);
}
.dropdown__options::-webkit-scrollbar {
  width: 8px;
}
.dropdown__options::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: #FEFEFE;
}
.dropdown__options::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #5E89E3;
}
.dropdown__option {
  padding: 12px;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.dropdown__option:last-child {
  margin-bottom: 0;
}
.dropdown__light .dropdown__btn {
  background-color: #FEFEFE;
  border: 1px solid #D0D0D0;
}
.dropdown__light .dropdown__btn:hover {
  background-color: #F3F3F3;
}
.dropdown__light .dropdown__options {
  background-color: #FEFEFE;
  border: 1px solid #D0D0D0;
}
.dropdown__light .dropdown__option {
  background-color: #F3F3F3;
}
.dropdown__light .dropdown__option:hover {
  background-color: #EAEAEA;
}
.dropdown__gray .dropdown__btn {
  background-color: #F3F3F3;
  border: 1px solid #D0D0D0;
}
.dropdown__gray .dropdown__btn:hover {
  background-color: #EAEAEA;
}
.dropdown__gray .dropdown__options {
  background-color: #F3F3F3;
  border: 1px solid #D0D0D0;
}
.dropdown__gray .dropdown__option {
  background-color: #EAEAEA;
}
.dropdown__gray .dropdown__option:hover {
  background-color: #D0D0D0;
}
.dropdown__dark .dropdown__btn {
  background-color: #202020;
  border: 1px solid #202020;
}
.dropdown__dark .dropdown__btn-text {
  color: #D0D0D0;
}
.dropdown__dark .dropdown__btn-icon path {
  fill: #D0D0D0;
}
.dropdown__dark .dropdown__btn:hover {
  border: 1px solid #2B2B2B;
  background-color: #2B2B2B;
}
.dropdown__dark .dropdown__options {
  background-color: #202020;
  border: 1px solid #202020;
}
.dropdown__dark .dropdown__option {
  color: #D0D0D0;
  background-color: #2B2B2B;
}
.dropdown__dark .dropdown__option:hover {
  background-color: #3A3A3A;
}

@media screen and (min-width: 1580px) {
  .dropdown__btn {
    padding: 17px 12px;
  }
  .dropdown__btn-text {
    font-size: 16px;
    line-height: 16px;
  }
  .dropdown__options {
    top: 68px;
  }
  .dropdown__option {
    font-size: 16px;
  }
}
